<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.shoppingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shopping App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AnotherActivity" />
        <activity android:name=".deliveringActivity" />
        <activity android:name=".stumblingActivity" />
        <activity android:name=".shortnessActivity" />
        <activity android:name=".meditationsActivity" />
        <activity android:name=".letterActivity" />
        <activity android:name=".whatifActivity" />
        <activity android:name=".powerActivity" />
        <activity android:name=".thinkingActivity" />
        <activity android:name=".nationActivity" />
        <activity android:name=".a1984Activity"></activity>
    </application>

</manifest>